.swiper{
    height: 100vh;
    
}

.swiper-button-prev{
    color: #c7c7c6;
    padding: 50px;
    border-radius: 0 50% 50% 0;
    background-color: gray;
    left: 0;
}

.swiper-button-next{
    color: #c7c7c6;
    padding: 50px;
    border-radius: 50% 0 0 50%;
    background-color: gray;
    right: 0;
}

.swiper-pagination-bullet-active{
    background-color: #1b7400;
}